/* Register.css */
@import "../../index.scss";

.info {
  background-color: #fff;
  border: 2px solid white;
  border-radius: 10px;
  border-bottom: 10px solid #c29525;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.info h1 {
  color: #c29525;
  font-size: 40px;
}


.info button {
  color: white !important;
  background-color: #c29525 !important;
  border: 1px solid #c29525;
}

.info a:hover {
  color: #c29525 !important;
}

.info p {
  font-size: 15px;
}

.info button:hover {
  color: black !important;
  background-color: transparent !important;
  border: 1px solid #c29525;
}
